.box{
  background-color:white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left

}

.row{
 display: inline-block;
}

#board{
  width: 550px;
}

body{
  /*this gets rid of spaces betweeen the squares*/
  font-size: 0;
  background: black;
}
