
.board {
  width: 360px;
  font-size: 0;
  background: rgb(32, 32, 32);

}
.grid_row {
   display: inline-block;
}
.box {
  background-color: black;
  width: 40px;
  height: 40px;
  float: left;
  perspective: 1000px;
}

//TODO non-clickables red on hiver
 // [row="1"]:hover,
 // [row="9"]:hover,
 // [col="1"]:hover,
 // [col="9"]:hover{
 //  border-top: 5px solid red;
 //  color: red;
 //  z-index: 200;
 // }

 // [type='cube']:hover{
 //   border: 1px solid red;
 //     z-index: 200;
 // }
