
.board {
  width: 570px;
  font-size: 0;
  background: rgb(32, 32, 32);
}
.grid_row {
   display: inline-block;
}
.box {
  background-color: black;
  width: 43px;
  height: 43px;
  float: left;
  perspective: 1000px;
}

// [row="1"]:hover{
//   tes
// }
