.button:hover {
  background: #b4c11f;
}

#reset,#win{

  margin-top: 20px;
  color: rgb(73, 83, 11);
  border-radius: 20px;
  width: 360px;
  margin-left: 125px;
  height: 30px;
  color: black

}

.button:hover {
  background: lightgreen;
}

#win{
  // width: 360px;
  // color: rgb(73, 83, 11);
  // border-radius: 20px;
  display: none;
}


.button {
  background: rgb(29, 136, 72);
  color: rgb(73, 83, 11);
  font-family: Sans-serif;
  font-size: 20px;

  // line-height: 60px;
  margin: 25px;
  text-align: center;
  border: 0;
  transition: all 0.2s ease 0s;

}
.home {
  font-size: 25px;
  position: absolute;
  bottom: 40px;
  right: 20px;
}
