.index-mini-li, .user-mini-li{
 margin: 20px;
}

.mini_board {
  width: 144px;
  height: 144px;
}
.mini_box {
  background_color: white;
  width: 16px;
  height: 16px;
  float: left;
}

.user-puzzle-options{
  font-size: 15px;
  text-indent: 10px
}
