// .col-sm-4, .col-sm-3,.col-sm-1,.col-sm-2,.col-sm-8,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
//   border: 1px solid white;
// }

body {
  background-color: rgb(32, 32, 32);
  color: rgb(220, 220, 220);
}

.navigation-bar{
  margin: 5px;
  background-color: rgb(92, 92, 92);
  color: black
}

.navbar-btn{
font-size: 23px
}

.header-bar{
  background-color: black
}

#puzzle_notes {
  background-color: white;
}

#status-bar {
  font-size: 25px;
  display: inline;
  position: absolute;
  top: 20px;
  right: 20px;
}

// input,
// #puzzle_notes {
//   font-size: 25px;
//   background-color: rgb(172, 221, 185);
//   width: auto;
//   height: 35px;
// }
.alert {
  color: red;
}
.page_header,
#sub_title {
  margin: 30px;
}
#sub_title {
  font-style: italic;
}
#starting_clicks {
  font-size: 20px;
}
.notes {
  font-size: 25px;
}


#pattern,
#puzzle_pattern,
#puzzle_clicks_created,
.hidden {
  display: none;
}

[media="all"]{
  color: white;
}

a:link {
  color: rgb(200, 200, 200);
}
a:visited {
  color: rgb(200, 200, 200);
}
a:hover {
  color:rgb(0, 0, 0);
}
a:active {
  color: blue;
}


[type='div']{
  // margin-right: 60px;
}


.user-puzzles-header{
  margin-bottom: 40px;
}
