// Place all the styles related to the puzzle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
  color: white;
}

.board {
  width: 550px;
  font-size: 0;
  background: black;
}


.row {
  display: inline-block;
}

.box {
  background-color: white;
  width: 40px;
  height: 40px;
  float: left;
}

.mini-box{
  background-color: white;
  width: 20px;
  height: 20px;
  float: left;

}

.mini_board{
  width: 240px;
}




#click-board, #static-board{
  float: left;
}
#boards {

  width: 1500px
}

#new-board, #edit-board{
  position: absolute;
  left: 200px;
}



#puzzle_notes{
  background-color: white;

}

#pattern, #puzzle_pattern, #puzzle_clicks_created, .hidden{
  display:none;
}

.button {
  width: 80px;
  height: 40px;
  background: pink;
  margin-top: 10px;
  color: purple;
  font-size: 20px;
}
#buttons {
  position: absolute;
  bottom: 80px;
  float: left;
}

#win{
  display: none;
}


li{
  font-size: 30px;
  margin: 20px;
  border: 5px solid blue;
  border-style: groove;
  padding: 15px;
  width: 300px;
  height: 300px;
  display: inline-block;
}


#bar{
  font-size: 25px;
  display: inline;
  position: absolute;
  top: 20px;
  right: 20px
}

#new{
  font-size: 40px
}

.home{
  font-size: 25px;
  position: absolute;
  bottom: 40px;
  left: 20px
}

input, #win{
  font-size: 30px;
  background-color: rgb(172, 221, 185);
  width: auto;
  height: 75x;
}

.alert{
  color: red;
}
