// Place all the styles related to the puzzle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
  color: white;
}
.box {
  background-color: white;
  width: 40px;
  height: 40px;
  float: left;
}

.board {
  width: 550px;
  font-size: 0;
  background: black;
}
#static-board {
  float: right;
}
.row {
  display: inline-block;
}

#editboard{
  float: left;
}
#boards {
  float: left;
}


#pattern, #puzzle_pattern, #puzzle_clicks_created{
  display:none;
}

.button {
  width: 80px;
  height: 40px;
  background: pink;
  margin-top: 10px;
  color: purple;
  font-size: 20px;
}
#buttons {
  display: inline;
}

#win{
  display: none;
}

li{
  font-size: 30px;
  margin-bottom: 40px
}

#bar{
  font-size: 25px;
  display: inline;
  position: absolute;
  top: 20px;
  right: 20px
}

#new{
  font-size: 40px
}
