<% if logged_in? %>
<h2> <%= current_user.user_name %></h2>
    <h3><%=link_to "log me out", logout_path %></h3>
  <%else%>
      <h3><%=link_to "Login hur", login_path %></h3>
      <h3><%=link_to "Signup hurr", new_user_path %></h3>
<% end %>
