

    <div class="grid_row" id="row1">
      <div class="box" row="1" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="1" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="1" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="1" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="1" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="1" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="1" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="1" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="1" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>
    <div class="grid_row" id="row2">
      <div class="box" row="2" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="2" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="2" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="2" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="2" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="2" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="2" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="2" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="2" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>
    <div class="grid_row" id="row3">
      <div class="box" row="3" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="3" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="3" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="3" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="3" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="3" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="3" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="3" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="3" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>
    <div class="grid_row" id="row4">
      <div class="box" row="4" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="4" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="4" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="4" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="4" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="4" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="4" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="4" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="4" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>
    <div class="grid_row" id="row5">
      <div class="box" row="5" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="5" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="5" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="5" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="5" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="5" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="5" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="5" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="5" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>
    <div class="grid_row" id="row6">
      <div class="box" row="6" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="6" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="6" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="6" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="6" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="6" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="6" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="6" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="6" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>
    <div class="grid_row" id="row7">
      <div class="box" row="7" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="7" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="7" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="7" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="7" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="7" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="7" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="7" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="7" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>
    <div class="grid_row" id="row8">
      <div class="box" row="8" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="8" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="8" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="8" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="8" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="8" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="8" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="8" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="8" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>
    <div class="grid_row" id="row9">
      <div class="box" row="9" col="1">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="9" col="2">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="9" col="3">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="9" col="4">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="9" col="5">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="9" col="6">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="9" col="7">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="9" col="8">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
      <div class="box" row="9" col="9">
        <div class='show-front' type='cube'>
          <figure class="front">1</figure>
          <figure class="back">2</figure>
          <figure class="right">3</figure>
          <figure class="left">4</figure>
          <figure class="top">5</figure>
          <figure class="bottom">6</figure>
        </div>
      </div>
    </div>








<!-- jquery only works wth this in the body??? -->
