
    <div class="row" id="row1">
      <div class="level-box" row="1" col="1"></div>
      <div class="level-box" row="1" col="2"></div>
      <div class="level-box" row="1" col="3"></div>
      <div class="level-box" row="1" col="4"></div>
      <div class="level-box" row="1" col="5"></div>
      <div class="level-box" row="1" col="6"></div>
      <div class="level-box" row="1" col="7"></div>
      <div class="level-box" row="1" col="8"></div>
      <div class="level-box" row="1" col="9"></div>
    </div>
    <div class="row" id="row2">
      <div class="level-box" row="2" col="1"></div>
      <div class="level-box" row="2" col="2"></div>
      <div class="level-box" row="2" col="3"></div>
      <div class="level-box" row="2" col="4"></div>
      <div class="level-box" row="2" col="5"></div>
      <div class="level-box" row="2" col="6"></div>
      <div class="level-box" row="2" col="7"></div>
      <div class="level-box" row="2" col="8"></div>
      <div class="level-box" row="2" col="9"></div>
    </div>
    <div class="row" id="row3">
      <div class="level-box" row="3" col="1"></div>
      <div class="level-box" row="3" col="2"></div>
      <div class="level-box" row="3" col="3"></div>
      <div class="level-box" row="3" col="4"></div>
      <div class="level-box" row="3" col="5"></div>
      <div class="level-box" row="3" col="6"></div>
      <div class="level-box" row="3" col="7"></div>
      <div class="level-box" row="3" col="8"></div>
      <div class="level-box" row="3" col="9"></div>
    </div>
    <div class="row" id="row4">
      <div class="level-box" row="4" col="1"></div>
      <div class="level-box" row="4" col="2"></div>
      <div class="level-box" row="4" col="3"></div>
      <div class="level-box" row="4" col="4"></div>
      <div class="level-box" row="4" col="5"></div>
      <div class="level-box" row="4" col="6"></div>
      <div class="level-box" row="4" col="7"></div>
      <div class="level-box" row="4" col="8"></div>
      <div class="level-box" row="4" col="9"></div>
    </div>
    <div class="row" id="row5">
      <div class="level-box" row="5" col="1"></div>
      <div class="level-box" row="5" col="2"></div>
      <div class="level-box" row="5" col="3"></div>
      <div class="level-box" row="5" col="4"></div>
      <div class="level-box" row="5" col="5"></div>
      <div class="level-box" row="5" col="6"></div>
      <div class="level-box" row="5" col="7"></div>
      <div class="level-box" row="5" col="8"></div>
      <div class="level-box" row="5" col="9"></div>
    </div>
    <div class="row" id="row6">
      <div class="level-box" row="6" col="1"></div>
      <div class="level-box" row="6" col="2"></div>
      <div class="level-box" row="6" col="3"></div>
      <div class="level-box" row="6" col="4"></div>
      <div class="level-box" row="6" col="5"></div>
      <div class="level-box" row="6" col="6"></div>
      <div class="level-box" row="6" col="7"></div>
      <div class="level-box" row="6" col="8"></div>
      <div class="level-box" row="6" col="9"></div>
    </div>
    <div class="row" id="row7">
      <div class="level-box" row="7" col="1"></div>
      <div class="level-box" row="7" col="2"></div>
      <div class="level-box" row="7" col="3"></div>
      <div class="level-box" row="7" col="4"></div>
      <div class="level-box" row="7" col="5"></div>
      <div class="level-box" row="7" col="6"></div>
      <div class="level-box" row="7" col="7"></div>
      <div class="level-box" row="7" col="8"></div>
      <div class="level-box" row="7" col="9"></div>
    </div>
    <div class="row" id="row8">
      <div class="level-box" row="8" col="1"></div>
      <div class="level-box" row="8" col="2"></div>
      <div class="level-box" row="8" col="3"></div>
      <div class="level-box" row="8" col="4"></div>
      <div class="level-box" row="8" col="5"></div>
      <div class="level-box" row="8" col="6"></div>
      <div class="level-box" row="8" col="7"></div>
      <div class="level-box" row="8" col="8"></div>
      <div class="level-box" row="8" col="9"></div>
    </div>
    <div class="row" id="row9">
      <div class="level-box" row="9" col="1"></div>
      <div class="level-box" row="9" col="2"></div>
      <div class="level-box" row="9" col="3"></div>
      <div class="level-box" row="9" col="4"></div>
      <div class="level-box" row="9" col="5"></div>
      <div class="level-box" row="9" col="6"></div>
      <div class="level-box" row="9" col="7"></div>
      <div class="level-box" row="9" col="8"></div>
      <div class="level-box" row="9" col="9"></div>
    </div>
  </div>






<!-- jquery only works wth this in the body??? -->
