
    <div class="row" id="row1">
      <div class="mini_box" row="1" col="1"></div>
      <div class="mini_box" row="1" col="2"></div>
      <div class="mini_box" row="1" col="3"></div>
      <div class="mini_box" row="1" col="4"></div>
      <div class="mini_box" row="1" col="5"></div>
      <div class="mini_box" row="1" col="6"></div>
      <div class="mini_box" row="1" col="7"></div>
      <div class="mini_box" row="1" col="8"></div>
      <div class="mini_box" row="1" col="9"></div>
      <div class="mini_box" row="1" col="10"></div>
      <div class="mini_box" row="1" col="11"></div>
      <div class="mini_box" row="1" col="12"></div>
    </div>
    <div class="row" id="row2">
      <div class="mini_box" row="2" col="1"></div>
      <div class="mini_box" row="2" col="2"></div>
      <div class="mini_box" row="2" col="3"></div>
      <div class="mini_box" row="2" col="4"></div>
      <div class="mini_box" row="2" col="5"></div>
      <div class="mini_box" row="2" col="6"></div>
      <div class="mini_box" row="2" col="7"></div>
      <div class="mini_box" row="2" col="8"></div>
      <div class="mini_box" row="2" col="9"></div>
      <div class="mini_box" row="2" col="10"></div>
      <div class="mini_box" row="2" col="11"></div>
      <div class="mini_box" row="2" col="12"></div>
    </div>
    <div class="row" id="row3">
      <div class="mini_box" row="3" col="1"></div>
      <div class="mini_box" row="3" col="2"></div>
      <div class="mini_box" row="3" col="3"></div>
      <div class="mini_box" row="3" col="4"></div>
      <div class="mini_box" row="3" col="5"></div>
      <div class="mini_box" row="3" col="6"></div>
      <div class="mini_box" row="3" col="7"></div>
      <div class="mini_box" row="3" col="8"></div>
      <div class="mini_box" row="3" col="9"></div>
      <div class="mini_box" row="3" col="10"></div>
      <div class="mini_box" row="3" col="11"></div>
      <div class="mini_box" row="3" col="12"></div>
    </div>
    <div class="row" id="row4">
      <div class="mini_box" row="4" col="1"></div>
      <div class="mini_box" row="4" col="2"></div>
      <div class="mini_box" row="4" col="3"></div>
      <div class="mini_box" row="4" col="4"></div>
      <div class="mini_box" row="4" col="5"></div>
      <div class="mini_box" row="4" col="6"></div>
      <div class="mini_box" row="4" col="7"></div>
      <div class="mini_box" row="4" col="8"></div>
      <div class="mini_box" row="4" col="9"></div>
      <div class="mini_box" row="4" col="10"></div>
      <div class="mini_box" row="4" col="11"></div>
      <div class="mini_box" row="4" col="12"></div>
    </div>
    <div class="row" id="row5">
      <div class="mini_box" row="5" col="1"></div>
      <div class="mini_box" row="5" col="2"></div>
      <div class="mini_box" row="5" col="3"></div>
      <div class="mini_box" row="5" col="4"></div>
      <div class="mini_box" row="5" col="5"></div>
      <div class="mini_box" row="5" col="6"></div>
      <div class="mini_box" row="5" col="7"></div>
      <div class="mini_box" row="5" col="8"></div>
      <div class="mini_box" row="5" col="9"></div>
      <div class="mini_box" row="5" col="10"></div>
      <div class="mini_box" row="5" col="11"></div>
      <div class="mini_box" row="5" col="12"></div>
    </div>
    <div class="row" id="row6">
      <div class="mini_box" row="6" col="1"></div>
      <div class="mini_box" row="6" col="2"></div>
      <div class="mini_box" row="6" col="3"></div>
      <div class="mini_box" row="6" col="4"></div>
      <div class="mini_box" row="6" col="5"></div>
      <div class="mini_box" row="6" col="6"></div>
      <div class="mini_box" row="6" col="7"></div>
      <div class="mini_box" row="6" col="8"></div>
      <div class="mini_box" row="6" col="9"></div>
      <div class="mini_box" row="6" col="10"></div>
      <div class="mini_box" row="6" col="11"></div>
      <div class="mini_box" row="6" col="12"></div>
    </div>
    <div class="row" id="row7">
      <div class="mini_box" row="7" col="1"></div>
      <div class="mini_box" row="7" col="2"></div>
      <div class="mini_box" row="7" col="3"></div>
      <div class="mini_box" row="7" col="4"></div>
      <div class="mini_box" row="7" col="5"></div>
      <div class="mini_box" row="7" col="6"></div>
      <div class="mini_box" row="7" col="7"></div>
      <div class="mini_box" row="7" col="8"></div>
      <div class="mini_box" row="7" col="9"></div>
      <div class="mini_box" row="7" col="10"></div>
      <div class="mini_box" row="7" col="11"></div>
      <div class="mini_box" row="7" col="12"></div>
    </div>
    <div class="row" id="row8">
      <div class="mini_box" row="8" col="1"></div>
      <div class="mini_box" row="8" col="2"></div>
      <div class="mini_box" row="8" col="3"></div>
      <div class="mini_box" row="8" col="4"></div>
      <div class="mini_box" row="8" col="5"></div>
      <div class="mini_box" row="8" col="6"></div>
      <div class="mini_box" row="8" col="7"></div>
      <div class="mini_box" row="8" col="8"></div>
      <div class="mini_box" row="8" col="9"></div>
      <div class="mini_box" row="8" col="10"></div>
      <div class="mini_box" row="8" col="11"></div>
      <div class="mini_box" row="8" col="12"></div>
    </div>
    <div class="row" id="row9">
      <div class="mini_box" row="9" col="1"></div>
      <div class="mini_box" row="9" col="2"></div>
      <div class="mini_box" row="9" col="3"></div>
      <div class="mini_box" row="9" col="4"></div>
      <div class="mini_box" row="9" col="5"></div>
      <div class="mini_box" row="9" col="6"></div>
      <div class="mini_box" row="9" col="7"></div>
      <div class="mini_box" row="9" col="8"></div>
      <div class="mini_box" row="9" col="9"></div>
      <div class="mini_box" row="9" col="10"></div>
      <div class="mini_box" row="9" col="11"></div>
      <div class="mini_box" row="9" col="12"></div>
    </div>
    <div class="row" id="row10">
      <div class="mini_box" row="10" col="1"></div>
      <div class="mini_box" row="10" col="2"></div>
      <div class="mini_box" row="10" col="3"></div>
      <div class="mini_box" row="10" col="4"></div>
      <div class="mini_box" row="10" col="5"></div>
      <div class="mini_box" row="10" col="6"></div>
      <div class="mini_box" row="10" col="7"></div>
      <div class="mini_box" row="10" col="8"></div>
      <div class="mini_box" row="10" col="9"></div>
      <div class="mini_box" row="10" col="10"></div>
      <div class="mini_box" row="10" col="11"></div>
      <div class="mini_box" row="10" col="12"></div>
    </div>
    <div class="row" id="row11">
      <div class="mini_box" row="11" col="1"></div>
      <div class="mini_box" row="11" col="2"></div>
      <div class="mini_box" row="11" col="3"></div>
      <div class="mini_box" row="11" col="4"></div>
      <div class="mini_box" row="11" col="5"></div>
      <div class="mini_box" row="11" col="6"></div>
      <div class="mini_box" row="11" col="7"></div>
      <div class="mini_box" row="11" col="8"></div>
      <div class="mini_box" row="11" col="9"></div>
      <div class="mini_box" row="11" col="10"></div>
      <div class="mini_box" row="11" col="11"></div>
      <div class="mini_box" row="11" col="12"></div>
    </div>
    <div class="row" id="row12">
      <div class="mini_box" row="12" col="1"></div>
      <div class="mini_box" row="12" col="2"></div>
      <div class="mini_box" row="12" col="3"></div>
      <div class="mini_box" row="12" col="4"></div>
      <div class="mini_box" row="12" col="5"></div>
      <div class="mini_box" row="12" col="6"></div>
      <div class="mini_box" row="12" col="7"></div>
      <div class="mini_box" row="12" col="8"></div>
      <div class="mini_box" row="12" col="9"></div>
      <div class="mini_box" row="12" col="10"></div>
      <div class="mini_box" row="12" col="11"></div>
      <div class="mini_box" row="12" col="12"></div>
    </div>






<!-- jquery only works wth this in the body??? -->
